.footer-container{
    position: fixed;
    background-color: rgb(99, 99, 99);
    width: 100%;
    bottom: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}