---
import BaseLayout from "../layouts/base-layout.astro";
import "../styles/Global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <BaseLayout />
    <section class="index-container">
      <h3>MisRecetas</h3>
      <p>
        Prototipo de una aplicación de recetas, con información completa de
        ingredientes, proceso e incluso con un un video explicativo
      </p>
      <div class="image-container">
        <a href="/recipes"><h1>Recetas</h1></a>
        <a href="/recipes"><img src="/images/recetas.png" alt="" /></a
        >
      </div>
    </section>
  </body>
</html>
<style>
  .index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px auto;
    max-width: 85%;
    flex-direction: column;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    cursor: pointer;
  }
  .image-container img {
    width: 50%;
  }
  .image-container a {
    display: flex;
    text-decoration: none;
    color: rgba(255, 81, 0, 0.708);
  }
</style>
