---
const res = await( await fetch('https://jsonplaceholder.typicode.com/users')).json()
---

{
    res.map( user => (
        <ul>
            <li><a href={`/users/${user.id}`}>{user.name}</a></li>
        </ul>
    ))
}